.productCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px;
    
    img {
        width: 100%;
    }
}
  
.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
