.button {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 100;
}

.whiteButton {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
    padding: 12px 21px 12px 21px;
}

.blackButton {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 26px;
}

.orderButton {
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 26px;
}


.blackButtonColumn {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 26px;
    width: 48%;
}

.orderButtonColumn {
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 26px;
    width: 47%;
}

.greenButton {
    background-color: var(--clr-green);
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
    padding: 22px;
    width: 65%;
    font-weight: 100;

    &:hover {
        background-color: var(--clr-dark1-grey);
        color: var(--clr-white);
        transition: all 3s ease-in-out;
    }
}

.sendButton {
    background: transparent;
    margin-top: 20px;
    font-size: 20px;
    color: var(--clr-white);
    opacity: 0.8;
}

.tabButton {
    background: none;
    margin: 16px 15px 16px 0px;
    font-weight: 100;
}

.viewAllButton {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
    padding: 22px;
    width: auto;
    height: auto;
}
