.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    .quickBuyButton {
      display: inline-block;
    }
  }

  img {
    width: 100%;
  }

  .productInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
    border-bottom: 1px solid var(--clr-black);

    .priceContainer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 18px;

      .discountedPrice {
        text-decoration: line-through;
        font-size: 14px;
      }
    }
  }

  .quickBuyButton {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-black);
    color: var(--clr-white);
    padding: 10px 37px;
    text-align: center;
    cursor: pointer;
    display: none;
  }

  .packFlex {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 100%);
    display: flex;
    gap: 10px;
      .pack {
        background-color: var(--clr-white);
        border: 1px solid var(--clr-black);
        color: var(--clr-black);
        font-weight: 300;
        padding: 2px 6px;
        font-size: 13px;
      }
  }
}

.favoriteButton {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-65%, 65%);
    display: flex;
    gap: 10px;

    .icon {
      font-size: 32px;
      color: var(--clr-black);
    }
}