.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .productInfoContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        width: 100%;
        border-bottom: 1px solid var(--clr-black);

        h3 {
            margin-bottom: 22px;
        }

        .priceContainer {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 18px;
            .discountedPrice {
                text-decoration: line-through;
                font-size: 14px;
            }
        }
    }
}