.outlinedTitle {
  font-size: 55px;
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: 3.7px;
  text-shadow:
    -0.65px -0.5px 0 var(--clr-black),
    0.65px -0.5px 0 var(--clr-black),
    -0.65px 0.5px 0 var(--clr-black),
    0.65px 0.5px 0 var(--clr-black);
    padding: 20px 0px 28px;
}

.rotatedTitle {
  font-size: 60px;
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: 3.7px;
  text-shadow:
    -0.65px -0.5px 0 var(--clr-black),
    0.65px -0.5px 0 var(--clr-black),
    -0.65px 0.5px 0 var(--clr-black),
    0.65px 0.5px 0 var(--clr-black);
  transform: rotate(-5deg);
  transform-origin: center bottom;
  padding: 32px;
}

.centeredTitle {
  color: var(--clr-black);
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: 900;
  padding: 28px 0px;
}