.PromoBannerContainer {
    padding: 10px;
    text-align: center;
    min-height: 10px;
    font-weight: 700;
    font-size: 12px;
    border-bottom: 1px solid var(--clr-black);
    background-color: var(--clr-yellow);
}