.reinsuranceContainer {
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    padding: 45px 0px;
    border-top: 1px solid var(--clr-black);

    .description {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .location {
        font-size: 12px;
        font-weight: 100;
    }

    .icon {
        font-size: 28px;
        margin-bottom: 8px;
    }
}