.infoContainer {
  gap: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 410px;
  padding: 30px;
  color: var(--clr-white);
  background-color: var(--clr-pink);

  .addressContainer {
    padding: 90px 0px;
  }

  .address {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  .shopName, .copyright {
    font-weight: 200;
  }

  .shopName {
    margin-bottom: 22px;
  }
  
  .copyright {
    margin-top: auto;
  }
}
  
  