.infoContainer {
    padding: 95px 65px 0px 65px;

    .specialText {
        border: 1px solid black;
        text-align: center;
        font-weight: 200;
        line-height: 30px;
        padding: 65px;
        width: 872px;
        height:297px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }    
}

.productsContainer {
    padding: 16px 58px;
}
