@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*=========== Fonts ============*/

@font-face {
    font-family: 'GraphikExtralight';
    src:    local('GraphikExtralight'), 
            local('GraphikExtralight'),
            url('fonts/GraphikExtralight.otf') format('otf');
}

@font-face {
    font-family: 'GraphikRegular';
    src:    local('GraphikRegular'), 
            local('GraphikRegular'),
            url('fonts/GraphikRegular.otf') format('otf');
}

@font-face {
    font-family: 'GraphikMedium';
    src:    local('GraphikMedium'), 
            local('GraphikMedium'),
            url('fonts/GraphikMedium.otf') format('otf');
}

@font-face {
    font-family: 'GraphikBold';
    src:    local('GraphikBold'), 
            local('GraphikBold'),
            url('fonts/GraphikBold.otf') format('otf');
}

@font-face {
    font-family: 'GraphikThin';
    src:    local('GraphikThin'), 
            local('GraphikThin'),
            url('fonts/GraphikThin.otf') format('otf');
}

:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-yellow: #F8D85D;
    --clr-green: #70CCC7;
    --clr-soft-pink: #ECB7B7;
    --clr-pink: #F679A8;
    --clr-red: #FF0000;
    --clr-blue: #7FD6E5;
    --clr-dark-grey: #D9D9D9;
    --clr-light-grey: #EEEEEE;
    --clr-grey: #F2F2F2;
    --clr-dark1-grey: #303030;

    --font-extra-light: 'GraphikExtralight', sans-serif;
    --font-regular: 'GraphikRegular', sans-serif;
    --font-bold: 'GraphikBold', sans-serif;
    --font-medium: 'GraphikMedium', sans-serif;
    --font-thin: 'GraphikThin', sans-serif;

}

/*=========== Global Styling ============*/

body {
    font-family: 'Manrope', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-black);
}

button {
    background: none;
    outline: none;
    border: none;
}